label {
	color: $input-label;
	font-weight: 700;
}

input {
	&[type='submit']:hover,
	&[type='submit']:focus,
	&[type='reset']:hover,
	&[type='reset']:focus,
	&[type='button']:hover,
	&[type='button']:focus {
		background-color: ppdorange(1);
	}

	&[type='text'],
	&[type='search'],
	&[type='password'],
	&[type='number'],
	&[type='email'],
	&[type='url'],
	&[type='tel'],
	&[type='file'] {
		@include form-spacing(padding, $form-space);
		background: $input-bg;
		border: 1px solid $input-border;
		box-shadow: $input-shadow;
		color: $input-color;
		display: block;
		line-height: normal;
		transition: $input-transition;
		width: 100%;

		&:focus {
			border-color: $input-border-focus;
			outline: none;
		}
	}

	&[type='file'] {
		&:hover { cursor: pointer; }
	}

	&[type='checkbox'],
	&[type='radio'] {
		display: inline-block;
		width: auto;
	}

	&[type='submit'],
	&[type='reset'],
	&[type='button'] {
		@include form-spacing(padding, $form-space $form-space * 2);
		@include form-font-size(14px);
		background: $form-button-background;
		// background-color: ppdorange(.8);
		border: 0;
		color: $form-button-color;
		display: inline-block;
		font-weight: 400;
		text-transform: uppercase;
		transition: $input-transition;

		&:hover {
			background: $form-button-background-hover;
		}
	}

	&[type='checkbox'],
	&[type='radio'],
	&[type='submit'],
	&[type='reset'],
	&[type='button'] {
		&:focus {
			@include tab-focus;
		}
	}
}

textarea {
	@include form-spacing(padding, $form-space);
	background: $input-bg;
	border: 1px solid $input-border;
	box-shadow: $input-shadow;
	color: $input-color;
	display: block;
	line-height: normal;
	transition: $input-transition;
	width: 100%;

	&:focus {
		border-color: $input-border-focus;
		outline: none;
	}
}

select {
	@include form-spacing(padding, $form-space);
	background: $input-bg;
	border: 1px solid $input-border;
	box-shadow: $input-shadow;
	color: $input-color;
	display: block;
	height: ceil($form-line-height * 1.33);
	line-height: normal;
	transition: $input-transition;
	width: 100%;

	&:focus {
		border-color: $input-border-focus;
		outline: none;
	}

	&[multiple],
	&[size] {
		height: auto;
	}
}

button {
	@include form-spacing(padding, $form-space $form-space * 2);
	@include form-font-size(14px);
	background: $form-button-background;
	// background-color: ppdorange(.8);
	border: 0;
	color: $form-button-color;
	display: inline-block;
	font-weight: 400;
	text-transform: uppercase;
	transition: $input-transition;

	&:hover {
		background: $form-button-background-hover;
		// background-color: $ppd-orange;
	}

	&:focus {
		@include tab-focus;
		// background-color: $ppd-orange;
	}
}
