%figcap-a {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.who-container {
	background: black(.8);
	border-radius: .75em;
	margin: 0 0 1.5rem;

	h2 {
		border: 0;
		color: $gray-pale;
		padding: .75rem 0;
		text-align: center;
	}
}



.who-grid {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
	width: 100%;

	figure {
		cursor: pointer;
		display: inline-block;
		height: 320px;
		margin: -.135em;
		overflow: hidden;
		position: relative;
		text-align: center;
		width: 25%;
		z-index: 1;
		@include breakpoint(papabear) {
			height: 320px;
			width: 25%;
		}
		@include breakpoint(mamabear) {
			height: 320px;
			width: 50%;
		}
		@include breakpoint(babybear) {
			height: 260px;
			width: 100%;
		}

		.hole {
			border: 1px solid white(.2);
			border-radius: 50%;
			display: block;
			height: 160px;
			margin: 20px auto 0;
			overflow: hidden;
			width: 160px;

		}

		img,
		svg {
			display: block;
			height: 114px;
			left: 23px;
			position: relative;
			top: 23px;
			width: 114px;
		}

		.svg-orange {fill: white(.2);}
		.svg-green {fill: white(.2);}
		.svg-grey {fill: white(.2);}

		figcaption {
			@extend %figcap-a;
			// padding: 2em;
			// color: white(1);
			backface-visibility: hidden;
			font-size: 1.25em;
			text-transform: uppercase;

			&::before,
			&::after {
				pointer-events: none;
			}
		}

		// Anchor will cover the whole item by default
		// For some effects it will show as a button
		a {
			@extend %figcap-a;
			font-size: 0;
			opacity: 0;
			text-indent: 200%;
			// white-space: nowrap;
			z-index: 2;
		}

		h2 {
			border: 0;
			font-weight: 100;
			hyphens: none;
			// letter-spacing: -1px;
			line-height: 1.2;
			word-break: break-word;
			// word-spacing: -.15em;

			span {
				font-weight: 800;
				// @include breakpoint(papabear) { font-weight: 800; }
				// @include breakpoint(mamabear) { font-weight: 600; }
				// @include breakpoint(babybear) { font-weight: 600; }
			}
		}

		h2,
		p {
			margin: 0;
		}

		p {
			letter-spacing: 1px;
			// font-size: 68.5%;
		}
	}
}

.services figure:nth-child(2) h2 {
	letter-spacing: -1px;
}


//
// Honey
//

//figure.effect-honey {
.effect-honey {
	&:hover figcaption::before,
	&:hover h2,
	&:hover h2 i {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		// @include breakpoint(babybear) { background: black(0.5); }
	}

	&:hover .hole {
		border-color: white(1);
	}

	&:hover .svg-orange { fill: $ppd-orange; }
	&:hover .svg-green { fill: $ppd-green; }
	&:hover .svg-grey {	fill: white(.8); }

	figcaption::before {
		bottom: 0;
		content: '';
		height: 10px;
		left: 0;
		position: absolute;
		transform: translate3d(0, 10px, 0);
		width: 100%;
		@include breakpoint(babybear) {
			transform: translate3d(0, 5px, 0);
		}
	}

	figcaption::before,
	h2 {
		transition: transform .35s;
	}

	h2 {
		bottom: 0;
		left: 0;
		position: absolute;
		text-align: center;
		transform: translate3d(0, -30px, 0);
		width: 100%;
		@include breakpoint(babybear) {
			bottom: 5px;
			padding: .5em 0;
			transform: translate3d(0, -15px, 0);
		}

		i {
			font-style: normal;
			letter-spacing: 1px;
			opacity: 0;
			transform: translate3d(0, -30px, 0);
			transition: opacity .35s, transform .35s;
			@include breakpoint(babybear) {
				// transform: translate3d(0,-15px,0);
				display: none;
			}
		}
	}
}
